body {
	width: 960px;
	margin:1em auto;
	padding: 0;
	background-color: rgb(48, 48, 53);
	color: #3d3a35;
	font-family: "Crete Round",Georgia,"Times New Roman",serif;
}

main, footer, header{
	background-color: #f1eded;
	border-radius: 1em;
	margin-bottom: 5px;
}

a{
	color:black;
	text-decoration: none;
}

.global_header {
	height: 90px;
}

.global_header img {
	float:left;
	width: 80px;
	height: 80px;
	margin: 5px 30px;
	border-radius: 1em;
	/*border: 1px solid #3d3a35;*/
}

.global_footer {
	height: 70px;
	text-align: center;
}

.global_footer div{
	padding-top: 10px;
}


.global_header_navigation {
	float:left;
	width: 700px;
	margin: 18px 30px 10px;
}

.global_header_navigation ul{
	list-style: none;
}

.global_header_navigation li{
	width:auto;
	position: relative;
	display: block;
	float: left;
	margin: 8px 20px;
}

.global_header_navigation a:link{
	color : #242221;
	font-size: 1.2em;
	font-weight: bold;
	line-height: 1.5em;
}

.global_header_navigation a:hover {
	color : white;
	background-color: teal;
}

.global_header_navigation a:visited{
	color:black;
}